@{
    ViewBag.Title = "אודות";
}
<h2>@ViewBag.Title:</h2>

<p>ברוכים הבאים ל 'אור השכרת רכבים' ,אחת מ-10 חברות השירות המובילות בישראל.
החברה הוקמה בשנת 1974 על ידי דוד גלילי, הבעלים ויושב ראש הקבוצה,
כחברה העוסקת בהשכרת רכב. במשך השנים התרחבו אחזקותיה לתחומים מגוונים נוספים,
שבהם היא פעילה ומהווה מוביל שוק כיום.

חזונו של מר דוד הוביל את החברה להצלחה ולצמיחה מתמדת
אשר הפכו אותה לאחת מקבוצות האחזקות הישראליות המובילות.

האווירה הדינאמית שלה, מקצוענות, ניהול ושירות מעולה – כל אלה עומדים בבסיס יעדיה של החברה לבנייתן של יוזמות עסקיות מוצלחות ומובילות- שוק, המביאות רווחים למשקיעים, ללקוחות ולעובדים כאחד.
החברה מתגאה להשקיע בהיותה החברה המובילה במגזרי פעילותה הרבים, באמצעות הצוות המקצועי שלה, מוצריה ושירותיה החדשניים וגישתה הדינאמית והשאפתנית.
מדיניותה של חברת דוד היא מאז ומתמיד – כן. אנחנו עושים כמיטב יכולתנו להיענות לציפיותיהם של לקוחותינו ואף מעבר להן. אנו שואפים להתמיד ולשפר את מעמדנו בשוק.

במקביל להיותה החברה הגדולה ביותר בישראל בתחומי הרכב והשירותים, עם צי המסתכם ב-70,000 כלי רכב,
חברת דוד מורכבת מאלקטרו-מכניקה (אפקון), טלקומוניקציה (תדיראן, טלקום) מספנות ונמלים (מספנות ישראל), לוגיסטיקה (גולדבונד קונטרם) ביטוח (שלמה חברה לביטוח) ונדל"ן (שיר).

החברה פועלת בישראל, ברומניה, ברפובליקה הצ'כית וברוסיה. היא מעסיקה יותר מ-3,000 עובדים.</p>