@{
    ViewBag.Title = "צור קשר";
    ViewBag.Message = "שלח לנו מייל או הגיע לכתובתנו המופיעה למטה:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ראשון לציון<br />
    רחוב משה דיין 3/7<br />
    <abbr title="Phone">טלפון</abbr>
    08-8924568
</address>

<address>
    <strong>תמיכה ושיווק</strong>   <a href="mailto:orgalil21@gmail.com">orgalil21@gmail.com</a><br />
</address>