@{
    ViewBag.Title = "צור קשר";
    ViewBag.Message = "שלח לנו מייל או הגיע לכתובתנו המופיעה למטה:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    גן יבנה<br />
    התבור<br />
    <abbr title="Phone">טלפון</abbr>
    0502226515
</address>

<address>
    <strong>תמיכה ושיווק</strong>   <a href="mailto:orgalil21@gmail.com">orgalil21@gmail.com</a><br />
</address>
