@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>השכרת רכב למקצוענים</h1>
    <p class="lead">שירותי השכרת רכב</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>חפש רכב להשכרה</h2>
        <p>
            השתמשו במנוע החיפוש שלנו למציאת רכבים. המנוע יעיל ונוח לשימוש
        </p>
        <p><a class="btn btn-default" href="~/Home/CarSearch">חיפוש רכב &raquo;</a></p>
    </div>
</div>